/* ============================================
   KV: NEUTRO
   ============================================ */

body {
    background-color: #040404;
}

.gradmobile-neutro {
    background-image: url(https://lh3.googleusercontent.com/d/1cxWexOAmboGIZePNaw43T_STs395wS8K) !important;
}

.banner-neutro {
    background: rgba(0, 0, 0, 0.4);
    /* Sin background-image */
}
